@page "/acercade"

<div class="mt-4" id="center">
	<h1>Acerca de mi</h1>

	<p>
		<img class="img" src="https://n9.cl/wo3rb4" alt="No se encontró la imagen">
		<br>
		<br>

		<span>Nombre:</span> Franklin J. Valdez <br>
		<span>Matricula:</span> 2022-0678 <br>
		<span>Telefono:</span> 809-580-4557 <br>
		<span>Correo:</span> franklinjoel1809@gmail.com <br>
		<br>
		<span>Experiencia en programacion:</span> Tengo dos años aprendido c#, pero ahora me siento mas capacitado <br> gracias al profesor Amadis Suarez Genao. También he aprendido CSS y HTML por cuenta propia.<br>
	</p>
</div>